# =============== #
# Unity generated #
# =============== #
Temp/
[Oo]bj/
Library/
Assets/AssetStoreTools*
[Bb]in/
UnityGenerated/

# ========================= #
# Developer Tools generated #
# ========================= #
.vs/
ExportedObj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
.zedstate
UnityLockFile
[Tt]est[Rr]esult*
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log
*.pfx
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.lib
*.sbr
Assets/WSATestCertificate.pfx.meta
Assets/WSATestCertificate.pfx
Assets/WSATestCertificate.pfx.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.Z*
save.config
GitExtensions.settings
