*.meta text
*.txt text
*.shader text
*.sln binary
*.asset binary
*.csproj binary
*.pfx binary
*.tmx binary
*.tsx binary
*.mat binary
*.anim binary
*.controller binary
*.ttf binary
*.physicsMaterial2D binary
*.prefab binary
*.unity binary
*.ogg binary
*.xcf binary
*.svg binary
*.obj binary
